<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User</h1>
    <form th:action="@{/admin/user/update}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label for="username">Username:</label>
        <input type="text" th:field="*{username}" />
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" />
        <button type="submit">Update</button>
    </form>
    <a href="/admin/user/list">Back to User List</a>
</body>
</html>
